<header class="header">
  <div class="header--image" style="background-color:#000;">
    <div class="row">
      <div class="column small-12">
        <h1>{{ site.header_text }}</h1>
        <h4>{{ site.subtitle }}</h4>
      </div>
    </div>
  </div>
</header>
